<div class="container row mt-5" style="justify-content: center;">
  <div class="card col-8">
    <p class="hello">Hello, I'm</p>
    <h1 class="name">MADELEINE PLUMRIDGE</h1>
    <div class="subtitle">
      <h2>Junior</h2>
      <h2>Web Developer</h2>
    </div>
  </div>

  <div class="card col-8">
    <div class="card-body">
      <h3>EDUCATION</h3>
      <ul class="list">
        <div class="uni">
          <li  class=""><strong>Web Development </strong></li>
          <li>Le Wagon - 2023</li>
        </div>
        <div class="uni">
          <li><strong>Content and Social Media Marketing </strong></li>
          <li>RMIT - 2022</li>
        </div>
        <div class="uni">
          <li><strong>Digital Marketing </strong></li>
          <li>General Assembly - 2021</li>
        </div>
        <div class="uni">
          <li><strong>Diploma of Interior Design |</strong></li>
          <li>Swinburne University of Technology - 2017</li>
        </div>
      </ul>
    </div>
  </div>

  <div class="card col-8">
    <div class="card-body">
      <h3>PROJECTS</h3>
      <ul class="list">
        <div class="project">
          <div>
            <li><strong>PlumCooks </strong></li>
            <li>A personal blog to show my love of baking</li>
            <li>Made using WordPress, and adding my own style and touches with CSS</li>
            <li class="mt-3"><a href="https://plumcooks.com/" target="_blank" class="projectlink">Blog</a></li>
          </div>
          <div>
            <%= image_tag "Group 8.png", class:"project-image logo" %>
          </div>
        </div>
        <div class="project">
          <div>
            <%= image_tag "favicon.png", class:"project-image" %>
          </div>
          <div>
            <li><strong>MaxCapacity </strong></li>
            <li>A web app using APIs to connect multiple tools for project managers to keep track of their teams capacity and workloads</li>
            <li>Made using JavaScript, HTML, CSS, Bootstrap, Simple Form, Stimulus</li>
            <li class="mt-3"><a href="https://github.com/marissavwolff/MaxCapacity" target="_blank" class="projectlink">Git Repo</a></li>
          </div>
        </div>
        <div class="project">
          <div>
            <li><strong>AIRLOL </strong></li>
            <li>An AirBNB copy, selling humor to the world</li>
            <li>Made using JavaScrip, HTML, CSS, Bootstrap, Simple Form, Mapbox</li>
            <li class="mt-3"><a href="https://github.com/marissavwolff/AIRLOL" target="_blank" class="projectlink">Git Repo</a></li>
          </div>
          <div>
            <h5 class="airlol">airLOL</h5>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="card col-8">
    <div class="card-body">
      <h3>SKILLS</h3>
      <div class="skills">
        <ol class="list">
          <li>JavaScript</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>GitHub</li>
          <li>Bootstrap</li>
          <li>Visual Studio Code</li>
        </ol>
        <ol class="list skill2">
          <li>Figma</li>
          <li>WordPress</li>
          <li>Google Data Studio</li>
          <li>SEO</li>
          <li>Google Ads</li>
          <li>Google Analytics</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="darkmode">
    <input type="checkbox" class="checkbox" >
    <label for="darkModeToggle">Dark Mode </label>
  </div>

  <script>
    document.addEventListener

</div>
