<div class="container click m-5" data-controller="changecolor" >
  <div class="buttonbg" data-changecolor-target="clickableElement">
    <button data-action="click->changecolor#change click->changecolor#changeButton" data-changecolor-target="clickableButton" type="button" class="btn">Click Me</button>
  </div>
</div>
