// .click {
//   height: 300px;
// }

.btn {
  padding: 32px;
  height: 100px;
  font-size: 20px;
}

.buttonbg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  height: 300px;
}
