.hello {
  font-family: $text;
  font-size: 24px;
  margin: 0;
  color: $green;
  &.dark-mode {
    color: white;
  }
}

.name {
  font-size: 70px;
  margin: 0;
  font-family: $header;
  color: $green;
  &.dark-mode {
    color: white;
  }
}

.subtitle {
  background-color: $blue;
  padding: 8px;
  padding-left: 16px;
  width: 315px;
  border-radius: 2px;
  font-size: 32px;
  font-family: $text;
  color: $green;
  &.dark-mode {
    color: $darkmode;
  }
}
