.social {
  color: $green;
  margin: 16px;
  padding: 5px;
  border-radius: 2px;
    &:hover {
      background-color: $blue;
      transition: 0.4s;
      color: $green;
      padding: 4px;
      padding-top: 1px;
      border-radius: 8px;
    }

    &.dark-mode {
      color: white;
      &:hover {
        color: $darkmode;
        background-color: white;
      }
    }
}

.projectlink {
  text-decoration: none;
  color: $green;
  font-family: $text;
  font-size: 18px;
  border: 1px solid $blue;
  padding: 5px;
  border-radius: 5px;
  padding-top: 1px;
    &:hover {
      background-color: $blue;
      color: $green;
      transition: 0.4s;
      padding: 5px;
      padding-top: 1px;
    }
    &.dark-mode {
      color: white;
      border: 1px solid white;
      &:hover {
        background-color: white;
        color: $darkmode;
      }
    }
}
