.navbar {
  background-color: #FFFBEB;
  margin: auto 0;
  margin-left: 24px;

   &.dark-mode {
    // Dark mode styles for the navbar
    background-color: $darkmode;
    color: white;
  }
}

.navlink {
  color: $green;
  font-size: 20px;
  padding: 8px;
  margin-top: 8px;
    &:hover {
      text-decoration: underline;
    }
    &.dark-mode {
      color: white;
    }
}

a {
  text-decoration: none;
}

// .navbar-expand-lg {
//   background-color: #ffffff;
// }

.navlogo {
  color: $green;
  font-size: 40px;
  &.dark-mode {
    color: white;
  }
}
