<div class="footer">
  <h4 class="withme">CONNECT WITH ME</h4>
  <footer class="footer-info connect">
    <div>
      <a href="https://github.com/MadeleinePlum" target="_blank" class="social"><i class="fa-brands fa-square-github"></i></a>
      <a href="https://www.linkedin.com/in/madeleine-plumridge457/" target="_blank" class="social"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/maddyplumridge/?igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank" class="social"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>
</div>
